.upgrade-header {
  border-bottom: #000 2px solid;
  text-align: center;
  font-size: 1.5vw;
  height: 6%;
}
.biome-upgrade {
  width: 20%;
  height: 80%;
  display: flex;
  border: #000 2px solid;
  text-align: center;
  font-size: 1.5vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.upgrade-body {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  flex-direction: column;
  width: 100%;
  height: 70%;
}

.upgrade-description {
  width: 80%;
  height: 50%;
  margin-top: 5px;
  border: #000 2px solid;
  text-align: center;
  font-size: 1.5vw;
}
.upgrade-cost {
  width: 80%;
  height: 10%;

  border: #000 2px solid;
  text-align: center;
  font-size: 1.5vw;
}

.upgrade-button {
  width: 80%;
  height: 10%;

  border: #000 2px solid;
  text-align: center;
  font-size: 1.5vw;
}
.upgrade-image {
  margin-top: 3px;
  display: inline-block;
  width: 5vw;
  height: 5vw;
}

/*Snow*/
.snow {
  background: url("../assets/frederick_snow_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  flex-direction: row;
}
.snow-biome-upgrade {
  background-color: #07c8f8;
}

.snow-upgrade-image {
  background: url("../assets/snow_upgrade.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
